#all{
    display: inline-flex;
    align-items: center;
margin-left: 350px;
margin-top: 400px;
font-size: 200px;
color: rgb(20, 62, 200);
border: 1px solid black;
background-color: antiquewhite;
background: transparent;
backdrop-filter: blur(05px);
height: 300px;

}
body{
    background-image: url(time.jpg);
}

